@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

// Colors
$body-color: #f7f7f7;
$link-color: #309b47;
$linkhover-color: #309b47;
$primary-color: #0e4d81;
$primary-light-color: #e6edf2;
$secondary-color: #309b47;
$white-color: #ffffff;
$grey-color: #cfdbe6;
$third-color: red;

// fonts
$main-font: "Ubuntu", sans-serif;
